In [1]:
import numpy as np
import pandas as pd

In [3]:
df= pd.read_csv('zomato.csv',encoding='ISO 8859 1')
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,3400025,Jahanpanah,1,Agra,"E 23, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",78.011544,27.161661,"North Indian, Mughlai",...,Indian Rupees(Rs.),0,0,0,0,3,3.9,9ACD32,Good,140
1,3400341,Rangrezz Restaurant,1,Agra,"E-20, Shopping Arcade, Sadar Bazaar, Agra Cant...",Agra Cantt,"Agra Cantt, Agra",0.000000,0.000000,"North Indian, Mughlai",...,Indian Rupees(Rs.),0,0,0,0,2,3.5,9ACD32,Good,71
2,3400005,Time2Eat - Mama Chicken,1,Agra,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra Cantt,"Agra Cantt, Agra",78.011608,27.160832,North Indian,...,Indian Rupees(Rs.),0,0,0,0,2,3.6,9ACD32,Good,94
3,3400005,Mama Chicken Mama Franky House,1,Agra,"A-17, Shoping Arcade, Sadar Bazaar, Agra Cantt...",Agra Cantt,"Agra Cantt, Agra",78.011627,27.161854,"North Indian, Mughlai, Rolls, Chinese, Fast Fo...",...,Indian Rupees(Rs.),0,1,0,0,2,4.3,5BA829,Very Good,31399
4,3400021,Chokho Jeeman Marwari Jain Bhojanalya,1,Agra,"1/48, Delhi Gate, Station Road, Raja Mandi, Ci...",Civil Lines,"Civil Lines, Agra",77.998364,27.195759,Rajasthani,...,Indian Rupees(Rs.),0,1,0,0,2,4.5,3F7E00,Excellent,4944

In [4]:
df.shape

(9351, 21)

In [5]:
df=df.drop_duplicates().reset_index(drop=True)

In [8]:
df.shape

(9351, 21)

In [9]:

WeOperate = ['New Delhi', 'Gurgaon', 'Noida', 'Faridabad', 'Allahabad', 'Bhubaneshwar', 'Mangalore', 'Mumbai', 'Ranchi', 'Patna', 'Mysore', 'Aurangabad', 'Amritsar', 'Puducherry', 'Varanasi', 'Nagpur', 'Vadodara', 'Dehradun', 'Vizag', 'Agra', 'Ludhiana', 'Kanpur', 'Lucknow', 'Surat', 'Kochi', 'Indore', 'Ahmedabad', 'Coimbatore', 'Chennai', 'Guwahati', 'Jaipur', 'Hyderabad', 'Bangalore', 'Nashik', 'Pune', 'Kolkata', 'Bhopal', 'Goa', 'Chandigarh', 'Ghaziabad', 'Ooty', 'Gangtok', 'Shimla']
df=df.loc[df['City'].isin(WeOperate)]
df.shape

(9339, 21)

In [13]:
bins=[0,300,700, np.inf]
names=['Lesser than 300','Rs. 300 to 700','More than 700']
df['BudgetRange']=pd.cut(df['Average Cost for two'],bins, labels=names)
df[['Average Cost for two','BudgetRange']]

<ipython-input-13-1c7cad7b7e37>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BudgetRange']=pd.cut(df['Average Cost for two'],bins, labels=names)

      Average Cost for two     BudgetRange
0                      850   More than 700
1                      700  Rs. 300 to 700
2                      500  Rs. 300 to 700
3                      600  Rs. 300 to 700
4                      400  Rs. 300 to 700
...                    ...             ...
9346                   600  Rs. 300 to 700
9347                  1500   More than 700
9348                  1400   More than 700
9349                   750   More than 700
9350                  1200   More than 700

[9339 rows x 2 columns]

In [12]:
df['BudgetRange']

0        More than 700
1       Rs. 300 to 700
2       Rs. 300 to 700
3       Rs. 300 to 700
4       Rs. 300 to 700
             ...
9346    Rs. 300 to 700
9347     More than 700
9348     More than 700
9349     More than 700
9350     More than 700
Name: BudgetRange, Length: 9339, dtype: category
Categories (3, object): [Lesser than 300 < Rs. 300 to 700 < More than 700]

In [15]:
df['Average Cost for two'].value_counts()

500     996
300     948
400     924
600     705
200     700
       ...
4100      1
4300      1
4700      1
5100      1
7000      1
Name: Average Cost for two, Length: 80, dtype: int64

In [16]:
df.loc[df['Average Cost for two'] == 200]

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,BudgetRange
92,2400052,Eat On,1,Allahabad,"Palace Compound, Near Palace Cinema, MG Marg, ...",Civil Lines,"Civil Lines, Allahabad",81.834236,25.450377,North Indian,...,0,0,0,0,1,3.7,9ACD32,Good,105,Lesser than 300
137,2200045,The Kulcha Land,1,Amritsar,"Opposite M.K Hotel, District Shopping Centre, ...",Ranjit Avenue,"Ranjit Avenue, Amritsar",74.864167,31.653192,"North Indian, Street Food",...,0,0,0,0,1,3.9,9ACD32,Good,206,Lesser than 300
141,2200045,The Kulcha Land,1,Amritsar,"Opposite District Shopping Centre, Ranjit Aven...",Ranjit Avenue,"Ranjit Avenue, Amritsar",74.863885,31.653217,North Indian,...,0,1,1,0,1,4.3,5BA829,Very Good,9551,Lesser than 300
233,2600472,Black N White Cafe,1,Bhopal,"G-1, Raksha Tower, Eden Garden, Arera Colony, ...",Arera Colony,"Arera Colony, Bhopal",77.419399,23.211529,"Cafe, Chinese, North Indian",...,0,0,0,0,1,3.3,CDD614,Average,51,Lesser than 300
237,2600008,Bake N Shake,1,Bhopal,"B-1, GM Tower, Stop No. 10, Arera Colony, Bhopal",Arera Colony,"Arera Colony, Bhopal",77.434967,23.214604,"North Indian, Bakery, Beverages, Pizza, Sandwi...",...,0,1,0,0,1,4.4,5BA829,Very Good,9014,Lesser than 300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9181,19040277,DX Fast Food,1,Shimla,"Guddu Mall Building, Sanjauli, Shimla",Sanjauli,"Sanjauli, Shimla",77.193111,31.103496,"Fast Food, Beverages",...,0,1,0,0,1,4.2,5BA829,Very Good,400,Lesser than 300
9252,18767071,Day Night Vada Pav & Dabeli,1,Vadodara,Shop no.9 syam rasicum plazza near SBI Bank . ...,Kendranagar,"Kendranagar, Vadodara",73.240077,22.293150,Fast Food,...,0,1,0,0,1,4.4,5BA829,Very Good,28499,Lesser than 300
9257,18461598,Amritsari Kulcha,1,Vadodara,"02, Devdeep Complex, Near ICICI Bank, Nizampur...",Nizampura,"Nizampura, Vadodara",73.179370,22.335668,Street Food,...,0,1,0,0,1,4.5,3F7E00,Excellent,11118,Lesser than 300
9268,3202278,Jagdish Foods Pvt. Ltd.,1,Vadodara,"Sakar Complex, Malhar Point, Haribhakti Extens...",Vadiwadi,"Vadiwadi, Vadodara",73.165115,22.304046,"Fast Food, Mithai",...,0,1,1,0,1,4.4,5BA829,Very Good,32078,Lesser than 300
9290,3900245,Deena Chat Bhandar,1,Varanasi,"D-47/184, Luxa Road, Godaulia, Varanasi",Godaulia,"Godaulia, Varanasi",83.002417,25.309160,"Street Food, Chinese",...,0,1,0,0,1,4.4,5BA829,Very Good,9244,Lesser than 300

In [18]:
class ActionSearchRestaurants(Action):
	def name(self):
		return 'action_search_restaurants'

	def run(self, dispatcher, tracker, domain):
		#config={ "user_key":"f4924dc9ad672ee8c4f8c84743301af5"}
		loc = tracker.get_slot('location')
		cuisine = tracker.get_slot('cuisine')
        budget = tracker.get_slot('budget')
		results = RestaurantSearch(City=loc,Cuisine=cuisine,BudgetRange=budget)
		response=""
		if results.shape[0] == 0:
			response= "no results"
		else:
            response =" Showing you top rated restaurants: \n"
			for restaurant in RestaurantSearch(loc,cuisine).iloc[:5].iterrows():
				restaurant = restaurant[1]
				response=response + F"Found {restaurant['Restaurant Name']} in {restaurant['Address']} has been rated {restaurant['Aggregate rating']} with avg cost for two as  {restaurant['Average Cost for two']} \n\n"
				
		dispatcher.utter_message("-----"+response)
		return [SlotSet('location',loc)]

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 15)

In [21]:
class ActionSearchRestaurants(Action):
    def name(self):
        return 'action_search_restaurants'
    def run(self, dispatcher, tracker, domain):
        loc = tracker.get_slot('location')
        cuisine = tracker.get_slot('cuisine')
        budget = tracker.get_slot('budget')
        results = RestaurantSearch(City=loc,Cuisine=cuisine,BudgetRange=budget)
        response=""
        if results.shape[0] == 0:
            response= "no results"
        else:
            response =" Showing you top rated restaurants: \n"
            for restaurant in RestaurantSearch(loc,cuisine).iloc[:5].iterrows():
                restaurant = restaurant[1]
                response=response + F"Found {restaurant['Restaurant Name']} in {restaurant['Address']} has been rated {restaurant['Aggregate rating']} with avg cost for two as  {restaurant['Average Cost for two']} \n\n"
            dispatcher.utter_message("-----"+response)
            return [SlotSet('location',loc)]

NameError: name 'Action' is not defined

In [ ]:
def RestaurantSearch(City,Cuisine,BudgetRange):
    if City.lower() in [x.lower() for x in WeOperate]:

	TEMP = ZomatoData[(ZomatoData['Cuisines'].apply(lambda x: Cuisine.lower() in x.lower())) & (ZomatoData['City'].apply(lambda x: City.lower() in x.lower()))& (ZomatoData['BudgetRange'].apply(lambda x: BudgetRange.lower() in x.lower()))].sort_values(by =['Aggregate rating'],ascending =False)
    #TEMP=TEMP.sort_values(by =['Aggregate rating'],ascending =False)
	return TEMP[['Restaurant Name','Address','Average Cost for two','Aggregate rating']]